# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env
*.json


# Databases / generated output
*.db
data/
src/data/
output.json

# Credentials
src/credentials/
